* {
    font-family: 'Nunito';
}


body {
    display: flex;
}

.rightColumn {
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
}

.icon {
    margin-top: 15px;
}

.resourceContent,
.kanbanContent {
    display: flex;
    justify-content: space-between;
}

.resourceContent h2,
.kanbanContent h2 {
    margin-left: 20px;
    font-weight: bolder;
    color: #272951;
}

